<template>
    <ion-toggle :checked="paletteToggle" @ionChange="toggleChange"></ion-toggle>
</template>
<script lang="ts" setup>
import { ref } from 'vue';
import { IonToggle } from '@ionic/vue';
import type { ToggleCustomEvent } from '@ionic/vue';

const paletteToggle = ref(false);

// Use matchMedia to check the user preference
const prefersDark = window.matchMedia('(prefers-color-scheme: dark)');

const toggleDarkPalette = (toggle: boolean) => {
    document.documentElement.classList.toggle('ion-palette-dark', toggle);
};

// Check/uncheck the toggle and update the palette based on isDark
const initializeDarkPalette = (isDark: boolean) => {
    paletteToggle.value = isDark;
    toggleDarkPalette(isDark);
};

// Initialize the dark palette based on the initial
// value of the prefers-color-scheme media query
initializeDarkPalette(prefersDark.matches);

// Listen for changes to the prefers-color-scheme media query
prefersDark.addEventListener('change', (mediaQuery) => initializeDarkPalette(mediaQuery.matches));

// Listen for the toggle check/uncheck to toggle the dark palette
const toggleChange = (ev: ToggleCustomEvent) => {
    toggleDarkPalette(ev.detail.checked);
};


</script>