<template>
 <ion-header>
      <ion-toolbar class="ion-no-border" color="primary" >
        <ion-title>{{$t('user.myAccount')}}</ion-title>

         <ion-buttons slot="end">
          <ToggleDarkMode />
        </ion-buttons>
      </ion-toolbar>
      
    </ion-header>
</template>
<script lang="ts" setup>
import { IonHeader, IonToolbar, IonTitle, IonButtons } from '@ionic/vue';
import ToggleDarkMode from '@/components/DarkMode.vue'
</script>