<template>
    <ion-page>
      <Header/>
     <ion-tabs>
       <ion-router-outlet></ion-router-outlet>
        <Footer/>
    </ion-tabs>
   </ion-page>
 </template>
 <script lang="ts" setup>
  import { IonPage, IonTabs, IonRouterOutlet} from '@ionic/vue';
  import Header from './header-bar.vue';
  import Footer from './footer-bar.vue';
 </script>